.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    user-select: none;

    padding: 0.5rem 0.5rem 0.5rem 0;
    mask-image: linear-gradient(60deg, black 25%, rgba(0, 0, 0, .2)50%, black 75%);
    mask-size: 400%;
    mask-position: 0%;

}

.wrapper:hover {
    mask-position: 100%;
    transition: mask-position 1s ease, -webkit-mask-position 1s ease;
}

.text {
    font-size: 1rem;
    font-weight: bold
}

.icon {
    font-size: 1.5rem;
}